.stat-container {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
}
.stat {
    text-align: center;
    flex: 1;
}
.stat-nombre {
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    color: #0A6E31;
    margin-right: 10px;
}
.stat-libelle {
    display: inline;
    font-size: 1rem;
    color: #555;
}